








<!--- // bulletproof font-face (vet ikke hvor dere fant Nintendo64 font?) —!>

/* /Til overskrift Nintendo 64  */
/* og sidebar "Nintendo Tech Specs":  */
@font-face{
	font-family: 'Nintendo64';
	src: url('   .eot');
	src: url('   .eot?#iefix'),
		  format('embedded-opentype'),
		url('     .woff'),
		 format('woff'),
		url('     .ttf'),
		 format('truetype'),
		url(      .svg#Nintendo64'),
		 format('svg');
}

.circle {
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(255, 197, 19);
    display: inline-block;
    text-align: center;

    }

.sidebar {
     background-color: black;
     color: white;
     text-align: right;
     width: 30%;
     padding: 3%;
     
    }



.intro{
    color: rgb(86,85,82)

}

.mainText {
    text-align: left;
}    



body {
	background-color: white;
	font-family: Nintendo64, Georgia, serif;
	color: black;	
}


h1 {
	text-transform: uppercase;
	color: black;
}

h3{
	color: rgb(86, 85, 81);
	
